<html>
<head>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossOrigin="anonymous"></script>

  <!-- Socket IO -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

  <!-- Smooothie Charts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothie/1.34.0/smoothie.min.js"></script>

</head>
<body id="body">
  <div id="display-grid">
  </div>
  <script type="text/javascript">

    // Socket message handler
    var initMsgFlag = true;
    var sourceList = [];
    var displayList = [];

    // Setup socket connection for domain/port
    const socket = io.connect("http://" + document.domain + ":" + location.port);

    socket.on('message', function(message) {

      // If this is first message...
      if (initMsgFlag) {
        initMsgFlag = false;

        // Iterate through source info in init msg
        for (let sourceInfo of message.split(":")) {

          // Parse source name and list of display names
          let splitInfo = sourceInfo.split(",");
          let sourceName = splitInfo[0];
          let displayNames = splitInfo.slice(1);

          // Create time series for source and object for sourceList
          let sourceTimeSeries = new TimeSeries();
          let sourceObj = {name: sourceName, timeSeries: sourceTimeSeries};
          sourceList.push(sourceObj);

          // Iterate through display names for source
          for (let displayName of displayNames) {

            // Find display object with current name in displayList
            let displayObj = displayList.find(element => element.name === displayName);

            // If display object does not exist, create it
            if (displayObj === undefined) {

              // Initialize container for display HTML elements
              let displayContainer = document.createElement("div");
              displayContainer.class = "display-container";
              displayContainer.id = displayName + "-container";
              document.getElementById("display-grid").appendChild(displayContainer);

              // Initialize canvas for display's smoothie chart
              let displayCanvas = document.createElement("canvas");
              displayCanvas.class = "display-canvas";
              displayCanvas.id = displayName + "-canvas";
              displayCanvas.width = 500;
              displayCanvas.height = 100;
              displayContainer.appendChild(displayCanvas);

              // Initialize smoothie chart and link it to above canvas
              let displayChart = new SmoothieChart();
              displayChart.streamTo(displayCanvas, 500);

              // Create new display object, add it to displayList
              let newDisplayObj = {name: displayName, chart: displayChart, container: displayContainer};
              displayList.push(newDisplayObj);
              displayObj = newDisplayObj;
            }
            // Add source's time series to display's smoothie chart
            displayObj.chart.addTimeSeries(sourceTimeSeries);
          }
        }
      } else {
        // Parse source name and data str from message
        let splitMsg = message.split(":");
        let sourceName = splitMsg[0];
        let dataStr = splitMsg[1].split(",");

        // Parse data from data string
        let timeValue = parseFloat(dataStr[0]) * 1000;
        let dataValue = parseFloat(dataStr[1]);

        // Find source object with target name in source list
        let sourceObj = sourceList.find(element => element.name === sourceName);
        if (sourceObj === undefined) {
          throw new Error("Source object not found in source list");
        }
        // Append new data to source's time series
        sourceObj.timeSeries.append(timeValue, dataValue);

        console.log(sourceObj);
      }
    });

    socket.on("error", function (error) {
      console.error('WebSocket error: ', error);
    });

    socket.on("close", function (event) {
      console.log('WebSocket closed: ', event);
    });

    // var random = new TimeSeries();
    // setInterval(function() {
    //   random.append(Date.now(), Math.random() * 10000);
    // }, 500);
    
    // var chart = new SmoothieChart();
    // var canvas = document.createElement('canvas');
    // canvas.width = 1000;
    // canvas.height = 400;
    // document.getElementById("chart-grid").appendChild(canvas);
    // chart.streamTo(canvas, 500);
    // chart.addTimeSeries(random, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });

    // // List of colors for charts
    // const COLOR_LIST = [
    //   "#ff0000",
    //   "#ff6200",
    //   "#ffcc00",
    //   "#80ff00",
    //   "#00ff7b",
    //   "#00f2ff",
    //   "#0077ff",
    //   "#9000ff",
    //   "#e600ff",
    //   "#ff006a"
    // ];

  </script>
  <style>
    /* TODO */
  </style>

</body>
</html>
